# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/out-tsc
/dist
/dist-app
/target
/tmp
*.tar.gz
*.zip
*.dar

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml
*.sublime-workspace

# notes
/*.md
!/CHANGELOG.md
!/README.md

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# notes
/*.md
!/CHANGELOG.md
!/README.md

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
npm-debug.log.*
testem.log
/typings
*.log
mockserver*.jar
.cache

#System Files
.DS_Store
Thumbs.db
.sonar/
